<div class="modal-header">
  <h4 class="modal-title pull-left">{{ titulo }}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="correo">
    <div class="row">
      <div class="form-group col-5">
        <label for="origen">Origen de la información</label>
        <select formControlName="origenInformacion" class="form-control form-control-rounded">
          <option *ngFor="let tipo of tiposOrigen" [ngValue]="tipo.id">{{ tipo.tipoOrigen }}</option>
        </select>
        <small class="text-danger">Obligatorio</small>
      </div>
      <div class="form-group col-7">
        <label for="correo">Correo</label>
        <input
          formControlName="correo"
          class="form-control form-control-rounded"
          type="email"
          placeholder="example@gmail.com"
        />
        <small class="text-danger">Obligatorio</small>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)="submit()" [disabled]="!correo.valid" class="btn btn-primary float-right">Actualizar</button>
</div>
