<prx-card>
	<prx-card-header title="Direcciones"></prx-card-header>
	<prx-card-body
		><ul class="list-group">
			<li *ngFor="let dir of direcciones" class="list-group-item">
				<p *ngFor="let cam of campos">
					<b>{{ cam.titulo }}</b>
					{{ ': ' + dir[cam.campo] }}
				</p>
				<button
					class="btn btn-outline-danger float-right"
					[disabled]="btn"
					(click)="eliminar(dir.id)"
				>
					eliminar
				</button>
				<button
					class="btn btn-outline-warning float-right"
					(click)="openModal(editar, dir.id)"
				>
					editar
				</button>
			</li>
		</ul></prx-card-body
	>
	<prx-card-footer
		><button class="btn btn-primary" (click)="openModal(crear)">
			Nuevo
		</button></prx-card-footer
	>
</prx-card>
<ng-template #crear>
	<prx-form-direcciones
		titulo="Nueva dirección"
		[modalRef]="modalRef"
	></prx-form-direcciones
></ng-template>
<ng-template #editar>
	<prx-form-direcciones
		[idEditar]="idEditar"
		titulo="Editar"
		[modalRef]="modalRef"
	></prx-form-direcciones
></ng-template>
