<prx-card>
  <prx-card-header title="Contáctos"></prx-card-header>
  <prx-card-body>
    <ul *ngIf="contactos" class="list-group">
      <li *ngFor="let cont of contactos" class="list-group-item">
        <div>{{ cont.nombreCompleto }}</div>
        <button class="btn btn-outline-danger float-right" [disabled]="btn" (click)="eliminar(cont.id)">
          eliminar
        </button>
        <button class="btn btn-outline-warning float-right" (click)="openModal(editar, cont.id)">editar</button>
      </li>
    </ul>
  </prx-card-body>
  <prx-card-footer><button class="btn btn-primary" (click)="openModal(crear)">Nuevo</button></prx-card-footer>
</prx-card>
<ng-template #crear>
  <prx-form-contactos
    [tiposContacto]="tiposContacto"
    [tiposOrigen]="tiposOrigen"
    titulo="Nuevo contácto"
    [modalRef]="modalRef"
  ></prx-form-contactos
></ng-template>
<ng-template #editar>
  <prx-form-contactos
    [idEditar]="idEditar"
    [tiposContacto]="tiposContacto"
    [tiposOrigen]="tiposOrigen"
    titulo="Editar"
    [modalRef]="modalRef"
  ></prx-form-contactos
></ng-template>
