<ng-container [formGroup]="form">
  <prx-page-header title="Contáctos"></prx-page-header>
  <div class="container px-5">
    <button class="btn btn-primary float-right" (click)="agregarContacto()">agregar contácto</button>
    <ng-container formArrayName="contactos">
      <div class="row">
        <div class="col-12" *ngFor="let contacto of contactos.controls; let i = index">
          <ng-container [formGroupName]="i">
            <div class="row justify-content-between align-items-center">
              <div class="form-group col-6">
                <label class="control-label" for="origen">Origen de la información</label>
                <select formControlName="origenInformacion" class="form-control form-control-rounded">
                  <option *ngFor="let tipo of tiposOrigen | async" [ngValue]="tipo.id">{{ tipo.tipoOrigen }}</option>
                </select>
                <small class="text-danger">Obligatorio</small>
              </div>
              <div class="form-group col-6">
                <label class="control-label" for="origen">Tipo de contácto</label>
                <select formControlName="tipoContacto" class="form-control form-control-rounded">
                  <option *ngFor="let tipo of tiposContacto | async" [ngValue]="tipo.id">
                    {{ tipo.tipoContacto }}
                  </option>
                </select>
                <small class="text-danger">Obligatorio</small>
              </div>
              <div class="form-group col-9">
                <label class="control-label" for="nCompleto">Nombre completo</label>
                <input type="text" class="form-control form-control-rounded" formControlName="nombreCompleto" />
                <small class="text-danger">Obligatorio</small>
              </div>
              <div class="col-3">
                <button class="btn btn-outline-secondary btn-circle btn-sm" (click)="eliminarContacto(i)">
                  <prx-icon icon="x" size="sm"></prx-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
