<ng-container *ngIf="perfil">
  <div class="bg-contrast py-md-3">
    <div class="container-fluid d-flex justify-content-md-between align-items-center">
      <h1 class="title h3 d-none d-md-flex">Perfil</h1>
    </div>
  </div>

  <div class="contact-header pt-4">
    <div class="container-fluid">
      <form [formGroup]="perfilForm">
        <div class="row row-cols-2 row-cols-md-4">
          <div *ngFor="let campo of campos" class="col form-group">
            <ng-container [ngSwitch]="campo.campo">
              <div *ngSwitchCase="'genero'">
                <label class="form-label">{{ campo.titulo }}</label>
                <select [formControlName]="campo.campo" class="form-control form-control-rounded">
                  <option *ngFor="let genero of Generos" [value]="genero.id">{{ genero.genero }}</option>
                </select>
              </div>
              <div *ngSwitchCase="'observaciones'">
                <label class="form-label">{{ campo.titulo }}</label>
                <textarea
                  maxlength="500"
                  class="form-control form-control-rounded"
                  [formControlName]="campo.campo"
                  cols="30"
                  rows="3"
                ></textarea>
              </div>
              <div *ngSwitchCase="'fecha'">
                <label class="form-label">{{ campo.titulo }}</label>
                <input
                  [formControlName]="campo.campo"
                  type="text"
                  class="form-control form-control-rounded"
                  bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                />
              </div>
              <div *ngSwitchDefault>
                <label class="form-label">{{ campo.titulo }}</label>
                <input
                  [formControlName]="campo.campo"
                  class="form-control form-control-rounded"
                  [value]="perfil[campo.campo]"
                />
              </div>
            </ng-container>
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center">
            <button class="btn btn-primary" (click)="change()">{{ dis ? 'Editar' : 'Guardar Cambios' }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid mt-5">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col">
        <prx-documentos
          [tiposDeDocumento]="tiposDocumento"
          [documentos]="perfil.PU_Documentos"
          (actualizar)="actualizar($event)"
        ></prx-documentos>
      </div>
      <div class="col">
        <prx-telefonos
          [tiposOrigen]="tiposOrigen"
          [tiposTelefono]="tiposTelefono"
          [telefonos]="perfil.PU_Telefonos"
          (actualizar)="actualizar($event)"
        ></prx-telefonos>
      </div>
      <div class="col">
        <prx-correos
          [tiposOrigen]="tiposOrigen"
          [correos]="perfil.PU_Correos"
          (actualizar)="actualizar($event)"
        ></prx-correos>
      </div>
      <div class="col">
        <prx-direcciones
          [tiposOrigen]="tiposOrigen"
          [direcciones]="perfil.PU_Direcciones"
          (actualizar)="actualizar($event)"
        ></prx-direcciones>
      </div>
      <div class="col"><prx-empleos [empleos]="perfil.empleos" (actualizar)="actualizar($event)"></prx-empleos></div>
      <div class="col">
        <prx-contactos
          [tiposOrigen]="tiposOrigen"
          [tiposContacto]="tiposContacto"
          [contactos]="perfil.PU_Contactos"
          (actualizar)="actualizar($event)"
        ></prx-contactos>
        <prx-redes
          [referenciasWeb]="perfil.PU_ReferenciasWeb"
          [tiposOrigen]="tiposOrigen"
          (actualizar)="actualizar($event)"
        ></prx-redes>
      </div>
    </div>
  </div>
</ng-container>
