<div class="container">
	<prx-page-header title="Formulario Persona Unica"></prx-page-header>
	<prx-card>
		<prx-card-body>
			<div class="container mt-5">
				<form [formGroup]="personaUnica">
					<div class="row">
						<!-- tipo de persona  -->
						<div class="col-12 form-group">
							<label for="tipo" class="control-label">Tipo</label>
							<select
								formControlName="tipo"
								class="form-control form-control-rounded"
							>
								<option [ngValue]="obTipo.id" *ngFor="let obTipo of tipos">
									{{ obTipo.tipoPersona | titlecase }}
								</option>
							</select>
						</div>
						<ng-container *ngIf="tipo == 1; else juridica">
							<!-- nombres -->
							<div class="col-6">
								<prx-nombres></prx-nombres>
							</div>
							<!-- primer apellido -->
							<div class="col-3 form-group">
								<label for="primerApellido" class="control-label"
									>Primer apellido</label
								>
								<input
									formControlName="primerApellido"
									type="text"
									class="form-control form-control-rounded"
								/>
								<small class="text-danger">Obligatorio</small>
							</div>
							<!-- segundo apellido -->
							<div class="col-3 form-group">
								<label for="segundoApellido" class="control-label"
									>Segundo apellido</label
								>
								<input
									formControlName="segundoApellido"
									type="text"
									class="form-control form-control-rounded"
								/>
							</div>
							<!-- genero -->
							<div class="col-6 form-group">
								<label for="genero" class="control-label">Género</label>
								<select
									formControlName="genero"
									class="form-control form-control-rounded"
								>
									<option
										[ngValue]="obGenero.id"
										*ngFor="let obGenero of generos"
									>
										{{ obGenero.genero | titlecase }}
									</option>
								</select>
							</div>
						</ng-container>
						<ng-template #juridica>
							<!-- nombre de la empresa -->
							<div *ngIf="tipo == 2" class="col-6 form-group">
								<ng-container formArrayName="nombres">
									<label for="emp" class="control-label"
										>Nombre de la empresa</label
									>
									<input
										formControlName="0"
										type="text"
										class="form-control form-control-rounded"
										placeholder="McDonald's"
									/>
									<small class="text-danger">Obligatorio</small>
								</ng-container>
							</div>
							<!-- razon social -->
							<div *ngIf="tipo == 2" class="col-6 form-group">
								<label for="razon social" class="control-label"
									>Razón social</label
								>
								<input
									formControlName="razonSocial"
									type="text"
									class="form-control form-control-rounded"
									placeholder="Restaurantes McDonald's S.A."
								/>
							</div>
						</ng-template>
						<!-- fecha nacimiento -->
						<div class="col-6 form-group">
							<label for="fechaNacimiento" class="control-label">{{
								tipo == 1 ? 'Fecha Nacimiento' : 'Fecha de constitución'
							}}</label>
							<input
								formControlName="fecha"
								type="text"
								class="form-control form-control-rounded"
								bsDatepicker
								[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
							/>
						</div>
						<!-- observaciones -->
						<div class="col-12 form-group">
							<label for="obs" class="control-label">Observaciones</label>
							<textarea
								maxlength="500"
								formControlName="observaciones"
								class="form-control form-control-rounded"
								rows="3"
							></textarea>
						</div>
					</div>
					<prx-documentos></prx-documentos>
					<prx-telefonos></prx-telefonos>
					<prx-direcciones></prx-direcciones>
					<prx-correos></prx-correos>
					<prx-empleos *ngIf="tipo == 1"></prx-empleos>
					<prx-contactos *ngIf="tipo == 1"></prx-contactos>
					<prx-referencias-web></prx-referencias-web>
					<div>
						<br />
						<hr />
						<button
							class="btn float-right"
							type="submit"
							[disabled]="!personaUnica.valid || process"
							[ngClass]="{
								'btn-danger': personaUnica.valid,
								'btn-secondary': !personaUnica.valid
							}"
							(click)="submit()"
						>
							Enviar
						</button>
					</div>
				</form>
			</div>
		</prx-card-body>
		<prx-card-footer></prx-card-footer>
	</prx-card>
</div>
