<ng-container [formGroup]="form">
  <div class="row h-100">
    <ng-container formArrayName="nombres">
      <div
        class="col-6 justify-content-between align-items-center"
        *ngFor="let nombre of nombres.controls; let i = index"
      >
        <div class="form-group">
          <label for="noDocumento">Nombre {{ i + 1 }}</label>
          <input [formControlName]="i" class="form-control form-control-rounded" type="text" />
          <small class="text-danger">Obligatorio</small>
        </div>
        <div>
          <button *ngIf="i > 0" class="btn btn-outline-secondary btn-circle btn-sm" (click)="eliminarNombre(i)">
            <prx-icon icon="x" size="sm"></prx-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <div class="col-12">
      <button class="btn btn-outline-primary float-right" (click)="agregarNombre()">agregar nombre</button>
    </div>
  </div>
</ng-container>
