<div class="container">
  <prx-card class="mt-5 w-75 mx-auto">
    <div class="container">
      <div class="mb-3">
        <label class="form-label h3">Titulo</label>
        <input class="form-control form-control-rounded" placeholder="FORMULARIO SIN TITULO" />
        <div class="form-text">Ingrese un nombre para el formulario</div>
      </div>
      <div class="mb-3">
        <label class="form-label h4">Descripcion</label>
        <textarea maxlength="500" class="form-control form-control-rounded mt-3" rows="3"></textarea>
      </div>
    </div>
  </prx-card>
  <prx-card class="mt-3 w-75 mx-auto">
    <div class="container mt-3">
      <prx-context-menu class="float-right">
        <ng-container menu-icon>
          <prx-icon icon="chevron-down"> </prx-icon>
        </ng-container>
        <a class="dropdown-item" (click)="crearComponente('pregunta')">Pregunta corta</a>
        <a class="dropdown-item" (click)="crearComponente('parrafo')">Parrafo</a>
        <a class="dropdown-item" (click)="crearComponente('selec')">Seleccion</a>
        <a class="dropdown-item" (click)="crearComponente('fecha')">fecha</a>
        <a class="dropdown-item" (click)="crearComponente('telefono')">telefono</a>
      </prx-context-menu>
      <ng-template prxCampos></ng-template>
    </div>
  </prx-card>
</div>
