<div class="modal-header">
  <h4 class="modal-title pull-left">{{ titulo }}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="referencia">
    <div class="row">
      <div class="form-group col-6">
        <label class="control-label" for="origen">Origen de la información</label>
        <select formControlName="origenInformacion" class="form-control form-control-rounded">
          <option *ngFor="let tipo of tiposOrigen" [ngValue]="tipo.id">{{ tipo.tipoOrigen }}</option>
        </select>
        <small class="text-danger">Obligatorio</small>
      </div>
      <div *ngIf="paginas" class="form-group col-6">
        <label class="control-label" for="origen">Tipo página web</label>
        <select formControlName="tipo" class="form-control form-control-rounded">
          <option *ngFor="let tipo of paginas" [ngValue]="tipo.id">{{ tipo.tipoPaginaWeb }}</option>
        </select>
        <small class="text-danger">Obligatorio</small>
      </div>
      <div class="form-group col-9">
        <label class="control-label" for="link">Url</label>
        <input type="text" formControlName="link" class="form-control form-control-rounded" />
        <small class="text-danger">Obligatorio</small>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)="submit()" [disabled]="!referencia.valid" class="btn btn-primary float-right">Actualizar</button>
</div>
