<div class="container">
  <prx-page-header title="Listado personas ingresadas"> </prx-page-header>
  <prx-card>
    <prx-card-header>
      <input class="form-control" [(ngModel)]="filtro" type="text" />
    </prx-card-header>
    <prx-card-body>
      <ngx-datatable
        [rows]="rows | filtroLista: filtro"
        [limit]="5"
        [columnMode]="cm.force"
        rowHeight="auto"
        footerHeight="auto"
        headerHeight="auto"
      >
        <ngx-datatable-column name="fecha de constitución">
          <ng-template let-row="row" ngx-datatable-cell-template>{{ getFecha(row.fecha) }}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nombre">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-container>
              {{ row.primerApellido + ' ' + row.segundoApellido + ' ' + row.razonSocial }}
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="documento">
          <ng-template let-row="row" ngx-datatable-cell-template>{{ row.documento }}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="tipo">
          <ng-template let-row="row" ngx-datatable-cell-template>{{ row.tipoPersona }}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Editar">
          <ng-template let-row="row" ngx-datatable-cell-template
            ><a class="btn btn-outline-warning" [routerLink]="['/perfiles/perfil/' + row.id]">Editar</a></ng-template
          >
        </ngx-datatable-column>
      </ngx-datatable>
    </prx-card-body>
  </prx-card>
</div>
