<div class="mb-3">
  <div class="divider dropdown-divider"></div>
  <label class="form-label">Ingrese su Pregunta</label>
  <input type="text" class="form-control form-control-rounded" placeholder="PREGUNTA SIN TITULO" />
  <div class="input-group clean-group mt-3">
    <span class="input-group-prepend">
      <button class="btn border" disabled>
        <prx-icon [icon]="icon"></prx-icon>
      </button>
    </span>
    <input disabled class="form-control" placeholder="Left addon" />
  </div>
</div>
